<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_url "banner-img.jpg" %>);">
  <div class="banner-content text-center">
    <h1>Ready to party?</h1>
    <h4>We have the best cocktails. No really. The very best. Nobody has cocktails like we do. Amazing!</h4>
  </div>
</div>
